.timeline .vis-item {
    z-index: 2;
}

.timeline .vis-item.vis-selected {
    z-index: 3;
}

.timeline .vis-timeline {
	overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-center {
	overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-item .vis-onUpdateTime-tooltip{
	width: auto;
}