.timeline .vis-item {
    z-index: 2;
}

.timeline .vis-item.vis-selected {
    z-index: 3;
}

.timeline .vis-timeline {
    overflow: visible !important;
}

.timeline .vis-center {
    overflow: visible !important;
}

.timeline .vis-item .vis-onUpdateTime-tooltip{
	width: auto;
}